main{
    margin: 0 auto;
    width: 842px;
    height: 595px;
    border: 2px lime solid;
    font-family: sans-serif;
    font-size: 0.9em;
    padding: 40px 30px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.sinbordes{
    border: 0;
}
.encabeza{
    text-align:  center !important;
}